table, th, td {
    border:1px solid #15722f;
    width: auto;
    font-size: 1.8rem;
}
th{
    padding: 10px;
    line-height: 40px;
}
td{
    font-size: 1.2rem;
    text-align: center;
    padding: 8px;
}
body{
    background-color: #DDD6FE;
}
.container{
    width: 60vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #C4B5FD;
    border: 1px solid rgba(27, 31, 35, .15);
}
.show-form-button, .add-book-button{
    margin: 20px;
    background-color: #A855F7;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
}
.book-form{
    border: 1px solid black;
    padding: 15px;
    text-align: center;
}
.book-form input{
    margin: 10px;
    background-color: #dbd4f8;
}
.add-book-button{
    padding: 12px;
    margin: 15px auto 10px auto;
    text-align: center;
}
.deleteButton, .not-read-button, .read-button{
    width: 50px;
    height: 100%;
    background-color: #b92727;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    line-height: 20px;
}
.read-button{
    background-color: #0e6b0e;
}
#error-heading{
    color: #122da8;
    font-style: italic;
}